@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  position: relative;
}

#landing {
    height: calc(100vh - 120px);
}

.nav__container {
  /* width: 100%;
    max-width: 1200px;
    margin: 0 auto; */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  margin-bottom: 64px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo__text {
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
}

.nav__links {
  display: flex;
  gap: 32px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  color: #243e63;
}

.nav__link:hover {
  color: #6415ff;
}

.nav__link--margin {
  margin-left: 48px;
}

.nav__link--primary {
  background-color: #6415ff;
  color: #fff;
  border-radius: 99px;
  padding: 12px 32px;
}

.nav__link--primary:hover {
  background-color: #4108b4;
  color: #fff;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  background-color: #6415ff;
  height: 2px;
  bottom: -3px;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.header__container {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header__description {
  width: 43%;
}

.header__description--title {
  font-size: 48px;
}

.purple {
    color: #6415ff;
}

.header__description--para {
    font-size: 18px;
    color: #243e63;
    margin: 32px 0;
    line-height: 24px;
    max-width: 550px;
}

form {
    display: flex;
    align-items: center;
    
}

input {
    width: 100%;
    max-width: 420px;
    border-radius: 99px;
    padding: 24px 192px 24px 32px;
    border: 2px solid lightgray;
}

input::placeholder {
    color: lightgray;
}

input:hover {
    border-color: gray;
}

input:focus {
    border: 2px solid #6415ff;
    outline: transparent solid 2px;
}

.btn {
    background-color: #6415ff;
    color: #fff;
    border-radius: 99px;
    padding: 14px 28px;
    font-weight: 700;
}

.header__btn {
    position: absolute;
    
}

.header__description--para-2 {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
    margin: 80px 0 16px 0;
}

.header__description--img {
    width: 100%;
    max-width: 500px;
    opacity: 60%;
}

.header__img--wrapper {
    width: 52%;
}

.header__img {
    width: 100%;
}