@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

section {
  padding: 0 32px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  position: relative;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* BURGER MENU */

.btn__menu {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #243e63;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  animation: slide-in 400ms 100ms backwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(110%);
  }

  33% {
    transform: translateX(-2%);
  }

  67% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0);
  }
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: #1a202c;
}

.menu__link:hover {
  color: #6415ff;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #6415ff;
  text-decoration-thickness: 2px;
}

.menu__list--primary {
  margin-top: 16px;
}

.btn__menu--close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #243e63;
  padding: 16px;
  font-size: 20px;
}

.btn__menu--close:hover,
.btn__menu:hover {
  color: #6415ff;
  cursor: pointer;
}

/* NAV BAR */

#landing {
  min-height: calc(40vh - 120px);
}

.nav__container {
  height: 96px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo__footer--img {
  width: 32px;
  height: 32px;
}

.logo__text {
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
}

.footer__logo--text {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1.1px;
}

.nav__links {
  display: flex;
  gap: 32px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  color: #243e63;
}

.nav__link:hover {
  color: #6415ff;
}

.nav__link--margin {
  margin-left: 48px;
}

.nav__link--primary {
  background-color: #6415ff;
  color: #fff;
  border-radius: 99px;
  padding: 12px 32px;
}

.nav__link--primary:hover {
  background-color: #4108b4;
  color: #6415ff;
  text-decoration: none;
  transition: all 300ms;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  background-color: #6415ff;
  height: 2px;
  bottom: -3px;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

header {
  position: relative;
}

.header__blob {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.06;
  width: 256px;
  height: 256px;
  transform: matrix(1.1, 0, 0, 1, -163, 0.8);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  width: 40%;
}

.header__description--title {
  font-size: 48px;
}

.purple {
  color: #6415ff;
}

.header__description--para {
  font-size: 18px;
  color: #243e63;
  margin: 32px 0;
  line-height: 24px;
  max-width: 550px;
}

form {
  display: flex;
  align-items: center;
}

input::placeholder {
  color: rgb(177, 170, 170);
}

input:hover {
  border-color: gray;
}

input:focus {
  border: 2px solid #6415ff;
  outline: transparent solid 2px;
}

.btn {
  background-color: #6415ff;
  color: #fff;
  border-radius: 99px;
  padding: 8px 32px;
  font-weight: 700;
  border-color: transparent;
}

.btn:hover {
  background-color: #4108b4;
  cursor: pointer;
  transition: all 300ms;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid lightgray;
  padding: 24px 192px 24px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 1;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  transition: all 300ms;
}

.header__description--para-2 {
  font-size: 12px;
  font-weight: 700;
  color: #a0aec0;
  margin: 48px 0 16px 0;
}

.header__description--img {
  width: 100%;
  max-width: 512px;
  opacity: 60%;
}

.header__img--wrapper {
  width: 60%;
  display: flex;
  margin-top: 48px;
}

.header__img {
  width: 100%;
}

/* 

FEATURES

*/

#features {
  position: relative;
}

#features,
.row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.features__blob {
  transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1);
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 16rem;
  opacity: 0.25;
  padding: 16px;
}

.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section__title {
  font-size: 16px;
  letter-spacing: 2px;
  color: #6415ff;
  font-weight: 700;
}

.section__heading {
  font-size: 48px;
  color: #243e63;
  margin: 16px 0;
  font-weight: 900;
  letter-spacing: 2px;
}

.section__para {
  font-size: 20px;
  color: #7c8ba1;
  width: 100%;
  max-width: 650px;
  line-height: 1.5;
  font-weight: 500;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.service {
  width: calc(100% / 3);
}

.service__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.service__img--wrapper {
  display: flex;
  border: 1px solid #e4e7ec;
  padding: 20px;
  border-radius: 99px;
  max-height: 65px;
}

.service__description {
  padding-left: 12px;
}

.service__description--title {
  font-size: 24px;
  color: #243e63;
  margin-bottom: 12px;
}

.service__description--para {
  font-size: 16px;
  color: #7c8ba1;
  line-height: 2;
  letter-spacing: normal;
  width: 100%;
  max-width: 180px;
  font-weight: 500;
}

/* 

QUALITY WORK 

*/

.quality__wrapper {
  display: flex;
  align-items: center;
}

.quality__description {
  width: 50%;
}

.quality__btn {
  margin-top: 40px;
  padding: 10px 32px;
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  width: 50%;
  display: flex;
}

.quality__img {
  width: 100%;
  max-width: 800px;
  z-index: 2;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 1;
}

/* STEPS */

.steps__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.steps__img--wrapper {
  position: relative;
  display: flex;
  width: 50%;
}

.steps__img {
  width: 100%;
  max-width: 500px;
  z-index: 2;
}

.steps__grid {
  position: absolute;
  opacity: 0.15;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  fill: rgba(100, 21, 255);
  z-index: 1;
}

.steps__description {
  width: 45%;
  padding: 32px 0;
}

.steps__services {
  display: flex;
  flex-direction: column;
}

.section__heading--steps {
  line-height: 1.5;
  margin-bottom: 0;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__num {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 700;
}

.step__text--wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  gap: 12px;
}

.step__text--title {
  font-size: 21px;
  color: #243e63;
  font-weight: 600;
}

.step__text--para {
  font-size: 16px;
  line-height: 1.75;
  color: #718096;
  font-weight: 400;
  width: 100%;
  max-width: 360px;
}

/* 

VALUES

*/

.values__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.values__description {
  width: 45%;
  padding: 32px 0;
}

.values {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 24px;
}

.value__title--wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.value__img--wrapper1,
.value__img--wrapper2 {
  display: flex;
  padding: 12px 16px;
  border-radius: 99px;
}

.value__img--wrapper1 {
  background-color: lightgreen;
}

.value__img--wrapper2 {
  background-color: pink;
  padding: 12px;
}

.value__title {
  color: #243e63;
}

.value__para {
  margin-top: 24px;
  line-height: 1.5;
  color: #718096;
}

.value__btn {
  font-size: 16px;
  padding: 9px 30px;
  margin-top: 48px;
}

.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 100%;
}

/* 

PRICING  

*/

#pricing {
  padding: 0 24px;
}

#pricing .row {
  position: relative;
  overflow: visible;
}

.pricing__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plans {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.plans__blob {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
  opacity: 0.25;
}

.plan {
  width: 100%;
  max-width: 384px;
  margin: 64px 32px 0 0;
  padding-top: 8px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.plan__blue {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__border--top {
  position: absolute;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan__border--top-red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__header {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.name {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.price {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 1.6;
}

.duration {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}

.plan__features {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-top: 1px solid #cad2db;
  border-bottom: 1px solid #cad2db;
}

.plan__feature {
  color: #718096;
  font-size: 16px;
}

.plan__feature--main {
  color: #1a202c;
  font-weight: 700;
  font-size: 20px;
}

.white {
  color: #fff;
}

.plan__btn--wrapper {
  padding: 32px;
  display: flex;
  justify-content: center;
}

.plan__btn {
  text-align: center;
  padding: 16px 40px;
  border-radius: 99px;
  border: none;
  font-size: 16px;
  width: 100%;
  max-width: 168px;
  font-weight: 700;
  transition: all 300ms;
}

.plan__btn:hover {
  box-shadow: 0px 2px 5px 1px #24242459;
  transform: translateY(-1px);
  transform: translateX(1px);
  cursor: pointer;
}

.plan__btn--green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #fff;
}

.plan__btn--blue {
  background: #fff;
  color: #6415ff;
}

.plan__btn--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  color: #fff;
}

/* 

TESTIMONIALS

*/

#testimonials .row {
  display: flex;
  padding: 0 16px;
}

.testimonials__img--wrapper {
  width: 46%;
  display: flex;
  align-items: center;
}

.testimonials__img {
  width: 100%;
}

.testimonials__description {
  width: 62%;
  padding-left: 56px;
}

.testimonial {
  margin-top: 40px;
}

.testimonial__rating i {
  color: rgb(246, 209, 4);
}

.testimonial__title {
  margin-top: 16px;
}

.testimonial__title,
.testimonial__name {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.testimonial__para {
  margin: 16px 0 40px 0;
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__lower {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial__details {
  margin-left: 24px;
}

.testimonial__role {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.testimonial__button svg {
  width: 16px;
  height: 16px;
  color: #6415ff;
}

.testimonial__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #edf2f7;
  border-radius: 50%;
  border: none;
  margin: 0 12px;
}

.testimonial__button:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}

.divider {
  width: 1px;
  height: 24px;
  background: rgb(229, 231, 235);
}

/* 

CTA

*/

#start {
  padding: 0 32px;
}

#start .row {
  position: relative;
  overflow: hidden;
}

.start__container {
  background-color: rgb(100, 21, 255);
  border-radius: 8px;
  padding: 96px 0;
}

.start__row {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.start__blob--1 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
  width: 320px;
  height: 320px;
  z-index: 1;
  opacity: 0.5;
}

.start__blob--2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(80px) translateY(-256px);
  width: 320px;
  height: 320px;
  z-index: 1;
  opacity: 0.5;
}

.start__title {
  color: #fff;
  width: 50%;
  font-size: 32px;
  line-height: 1.5;
  z-index: 2;
}

.start__btn--wrapper {
  display: flex;
  gap: 32px;
}

.start__btn--red {
  background-color: #f56565;
  font-size: 16px;
  padding: 22px 40px;
  z-index: 1;
}

.start__btn--red:hover {
  background-color: rgba(229, 62, 62);
  transition: all 300ms;
}

.start__btn--purple {
  border: 1px solid rgb(160, 174, 192);
  font-size: 16px;
  padding: 22px 40px;
}

.start__btn--purple:hover {
  background-color: rgba(247, 250, 252);
  color: rgba(100, 21, 255);
  transition: all 300ms;
}
/* 

FOOTER

*/

footer {
  background-color: rgb(100, 21, 255);
  padding: 96px 32px;
  position: relative;
  overflow: hidden;
  margin-top: 96px;
}

.footer__blob--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 320px;
  transform: translateX(-80px) translateY(-128px);
  z-index: 1;
  opacity: 0.5;
}

.footer__blob--2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 320px;
  transform: translateX(128px) translateY(192px);
  z-index: 1;
  opacity: 0.5;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__columns {
  display: flex;
  flex-direction: column;
  width: 20%;
  max-width: 120px;
  padding: 12px;
}

.footer__columns--title {
  color: #fff;
  font-size: 16px;
  font-weight: 700px;
  z-index: 2;
}

.footer__link--wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.footer__link--anchor {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  z-index: 2;
}

.footer__link--anchor:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
}

.break__line {
  width: 100%;
  border-top: 2px solid rgb(116, 44, 255);
  margin: 48px 0;
}

.footer__copyright--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo--text,
.footer__logo--text:hover {
  color: #fff;
}

.footer__copyright {
  color: #cbd5e0;
  font-weight: 500;
}

.footer__social--links {
  display: flex;
  gap: 16px;
  z-index: 2;
}

.footer__social--link {
  font-size: 16px;
  padding: 8px 11px;
  background-color: #fff;
  border-radius: 50%;
}

.footer__social--link:hover {
  background-color: rgb(203, 213, 224);
}

.facebook {
  color: blue;
}

.youtube {
  padding: 10px 10px;
  color: red;
}

/* 

RESPONSIVENESS

*/

@media (max-width: 1280px) {
  .header__wrapper {
    justify-content: space-between;
  }

  .header__description--title {
    font-size: 36px;
  }

  .header__description--para {
    font-size: 16px;
  }

  .header__img--wrapper {
    width: 50%;
    justify-content: flex-end;
  }

  .header__img {
    max-width: 512px;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }

  .nav__link {
    display: none;
  }

  .header__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__img--wrapper {
    width: 100%;
    justify-content: center;
  }

  .header__description {
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .header__description--title {
    font-size: 32px;
  }

  .section__heading {
    font-size: 36px;
    margin: 16px 0 24px 0;
    letter-spacing: 1.5px;
  }

  #features .section__heading,
  #pricing .section__heading {
    font-size: 48px;
    margin: 24px 0;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
    max-width: 850px;
  }

  .section__heading--steps {
    margin-bottom: 0;
  }

  .services {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
  }

  .service {
    width: calc(50%);
  }

  .service__description--para {
    max-width: 240px;
  }

  .section__para {
    font-size: 16px;
    line-height: 1.75;
  }

  .steps__services {
    gap: 4px;
  }

  .values {
    flex-direction: column;
    max-width: 320px;
    margin-top: 40px;
    gap: 48px;
  }

  .value__title {
    font-size: 20px;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    margin-right: 0px;
  }

  .plan__btn {
    max-width: 80%;
    font-size: 14px;
    padding: 18px 40px;
  }

  .start__row {
    flex-direction: column;
  }

  .start__title {
    text-align: center;
    width: 100%;
    max-width: 512px;
  }

  .start__btn--wrapper {
    margin-top: 24px;
  }

  footer {
    padding: 72px 32px;
  }
}

@media (max-width: 768px) {
  .header__img--wrapper {
    width: 100%;
    justify-content: center;
  }
  
  #features .section__heading {
    font-size: 48px;
    margin: 24px 0;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
    max-width: 650px;
  }
  
  .section__para {
    font-size: 14px;
    max-width: 576px;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .service__description--para {
    max-width: none;
  }

  .quality__wrapper {
    flex-direction: column-reverse;
  }

  .quality__img--wrapper,
  .steps__img--wrapper,
  .values__img--wrapper,
  .testimonials__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .quality__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 450px;
    margin-top: 64px;
    align-items: center;
    justify-content: center;
  }

  .steps__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps__description {
    margin-top: 32px;
    width: 100%;
    max-width: 448px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step {
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }

  .step__text--wrapper {
    margin-top: 8px;
    margin-left: 0;
  }

  .steps__services {
    width: 100%;
    max-width: 325px;
  }

  .step__text--para {
    font-size: 14px;
    line-height: 2;
  }

  .values__wrapper {
    flex-direction: column-reverse;
  }

  .values__description,
  .testimonials__description {
    margin-top: 64px;
    padding: 0;
    width: 100%;
    max-width: 448px;
    text-align: center;
  }

  .values {
    margin: 0 auto;
    margin-top: 48px;
  }

  .value {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }

}
